﻿@model PaginatedList<Sherlock.ViewModels.User>

@{
    ViewData["Title"] = "Users with their roles";
}

<h1>Users with their roles</h1>
<p>
    <a asp-action="Create">Add new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <td><b>Email</b></td>
            <td><b>Roles</b></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.Role</td>
                <td>
                    <a asp-action="ShowAccessToken" asp-route-id="@user.UserId">Show access token</a> |
                    <a asp-action="Delete" asp-route-email="@user.Email">Delete user</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>