﻿@model Sherlock.Data.Models.HelpCenter

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>HelpCenter</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TopQestions)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TopQestions.Count == 0)
            {
                @Html.Raw("Top Questions is empty") }
             else
            {
            <table class="table" id="topQuestions">
                <tbody>
                    @foreach (var faq in Model.TopQestions)
                    {
                    <tr>
                        <td>
                            @faq.Title
                        </td>
                        <td>
                            @faq.Subtitle
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.HelpCenterID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
