﻿@model PaginatedList<Sherlock.Data.Models.HelpCenter>

@{ ViewData["Title"] = "Help Center"; }

<h1>Help Center</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Description)
    </td>
    <td>
        <a href="/HelpCenter/Details/@Html.Raw(item.HelpCenterID + "#topQuestions")">Top Qestions</a>
        <br />
        <a asp-action="Edit" asp-route-id="@item.HelpCenterID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.HelpCenterID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.HelpCenterID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>