﻿@model Sherlock.ViewModels.Login

@{
    ViewData["Title"] = "Access denied";
}

<h1>Access denied</h1>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

