﻿@model Sherlock.ViewModels.Login

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<h5>Test data</h5>
<h6>Superadmin user: dp@compsoft.com / Compsoft123$</h6>
<h6>Admin user: to@compsoft.com / Secret123$</h6>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username" class="control-label"></label>
                <input asp-for="Username" class="form-control" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label class="float-left" asp-for="RememberMe">
                        <input asp-for="RememberMe" />
                        <label asp-for="RememberMe"></label>
                    </label>
                </div>
                <br /><br />
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

