﻿@model Sherlock.Data.Models.FAQ

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>

<h4>FAQ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" for="projectID" name="projectID" value="@ViewData["projectID"]" />
                <label for="projectID" class="control-label">Project:</label>
                @ViewData["ProjectName"]
            </div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<FAQType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinksToType" class="control-label"></label>
                <select asp-for="LinksToType" class="form-control" asp-items="Html.GetEnumSelectList<FAQLinksToType>()"></select>
                <span asp-validation-for="LinksToType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTMLContent" class="control-label"></label>
                <input asp-for="HTMLContent" class="form-control" />
                <span asp-validation-for="HTMLContent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeReportProblemLink" /> @Html.DisplayNameFor(model => model.IncludeReportProblemLink)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectID="@ViewData["projectID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
