﻿@model Sherlock.Data.Models.FAQ

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FAQ</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Type)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LinksToType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LinksToType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URL)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URL)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IncludeReportProblemLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IncludeReportProblemLink)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.FAQID">Edit</a> |
    <a asp-action="Index" asp-route-projectID="@Model.Project.ProjectID">Back to List</a>
</div>
