﻿@model Sherlock.Data.Models.FAQ

@{ ViewData["Title"] = "Edit"; }

<h1>Edit</h1>

<h4>FAQ</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="FAQID" />
            <input type="hidden" for="projectID" name="projectID" value="@ViewData["projectID"]" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subtitle" class="control-label"></label>
                <input asp-for="Subtitle" class="form-control" />
                <span asp-validation-for="Subtitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <select asp-for="Type" class="form-control" asp-items="Html.GetEnumSelectList<FAQType>()"></select>
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LinksToType" class="control-label"></label>
                <select asp-for="LinksToType" class="form-control" asp-items="Html.GetEnumSelectList<FAQLinksToType>()"></select>
                <span asp-validation-for="LinksToType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URL" class="control-label"></label>
                <input asp-for="URL" class="form-control" />
                <span asp-validation-for="URL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HTMLContent" class="control-label"></label>
                <textarea asp-for="HTMLContent" class="form-control">
                @Model.HTMLContent
                </textarea>
                <span asp-validation-for="HTMLContent" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IncludeReportProblemLink" /> @Html.DisplayNameFor(model => model.IncludeReportProblemLink)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>

        <h4>Tags</h4>

        @if (Model.Tags.Count() == 0)
        {
            @Html.Raw("No tags");
        }
        else
        {
            @foreach (Tag tag in Model.Tags)
            {
                @tag.Name <a asp-action="RemoveTag" asp-route-faqID="@Model.FAQID" asp-route-tagID="@tag.TagID">[Delete]</a> <br />
            }
        }

    <br />

    <form asp-action="AssignTag" method="post">
        <input type="hidden" for="FAQID" name="FAQID" value="@Model.FAQID" />
             <select for="tagID" name="tagID" class="form-control" asp-items="ViewBag.Tags">
                  <option value="">-- Select Tag --</option>
             </select><br />
        <input type="submit" value="[Assign a tag]">
    </form>

    </div>
</div>
<br /><br />
<div>
    <a asp-action="Index" asp-route-projectID="@ViewData["projectID"]">Back to List</a>
</div>