﻿@model PaginatedList<Sherlock.Data.Models.FAQ>

@{ ViewData["Title"] = "FAQ for " + ViewData["ProjectName"];
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-projectID="@ViewData["projectID"]">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Title:
            </th>
            <th>
                Subtitle:
            </th>
            <th>
                Type:
            </th>
            <th>
                Tags:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Title)
    </td>
    <td>
        @Html.Raw(String.IsNullOrEmpty(item.Subtitle) ? "-" : item.Subtitle)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Type)
    </td>
    <td>
        @if (item.Tags.Count() == 0)
        {
            @Html.Raw("No tags");
        }
        else
        {
@foreach (Tag tag in item.Tags)
{
@tag.Name <a asp-action="RemoveTag" asp-route-faqID="@item.FAQID" asp-route-tagID="@tag.TagID">[Delete]</a> <br />                    }                }
        <br />
        <form asp-action="AssignTag" method="post">
            <input type="hidden" for="FAQID" name="FAQID" value="@item.FAQID" />
            <select for="tagID" name="tagID" class="form-control" asp-items="ViewBag.Tags">
                <option value="">-- Select Tag --</option>
            </select><br />
            <input type="submit" value="[Assign a tag]">
        </form>
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.FAQID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.FAQID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.FAQID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>

