﻿@model Sherlock.Data.Models.Customer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ContactEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ContactEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Members)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Members.Count == 0)
            {
                @Html.Raw("No members") }
             else
            {
            <table class="table" id="members">
                <tbody>
                    @foreach (var member in Model.Members)
                    {
                    <tr>
                        <td>
                            @member.Name
                        </td>
                        <td>
                            @member.Email
                        </td>
                        <td>
                            <!-- to refactor! I know! -->
                            @foreach (var role in ViewBag.Roles)
                            {
                                @if (role.Id == member.Roles.First().RoleId)
                                {
                                    @role.Name
                                }
                            }
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Projects)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Projects.Count == 0)
            {
                @Html.Raw("No projects") }
             else
            {
            <table class="table" id="projects">
                <tbody>
                    @foreach (var project in Model.Projects)
                    {
                    <tr>
                        <td>
                            @project.AppName
                        </td>
                        <td>
                            @project.Platform
                        </td>
                        <td>
                            @project.LicenceStartDate.ToString("yyyy/MM/dd")
                        </td>
                        <td>
                            @project.LicenceEndDate.ToString("yyyy/MM/dd")
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
