﻿@model Sherlock.Data.Models.Integration

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Integration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" for="projectID" name="projectID" value="@ViewData["projectID"]" />
                <label for="projectID" class="control-label">Project:</label>
                @ViewData["ProjectName"]
            </div>
            <div class="form-group">
                <label asp-for="IntegratorKind" class="control-label"></label>
                <select asp-for="IntegratorKind" class="form-control" asp-items="Html.GetEnumSelectList<IntegratorKinds>()"></select>
                <span asp-validation-for="IntegratorKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLData" class="control-label"></label>
                <input asp-for="URLData" class="form-control" />
                <span asp-validation-for="URLData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationData" class="control-label"></label>
                <input asp-for="AuthorizationData" class="form-control" />
                <span asp-validation-for="AuthorizationData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectID="@ViewData["projectID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
