﻿@model Sherlock.Data.Models.Integration

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Integration</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IntegratorKind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IntegratorKind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.URLData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.URLData)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorizationData)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorizationData)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IntegrationID">Edit</a> |
    <a asp-action="Index" asp-route-projectID="@Model.Project.ProjectID">Back to List</a>
</div>
