﻿@model Sherlock.Data.Models.Integration

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Integration</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IntegrationID" />
            <input type="hidden" for="projectID" name="projectID" value="@Model.Project.ProjectID" />
            <div class="form-group">
                <label asp-for="IntegratorKind" class="control-label"></label>
                <select asp-for="IntegratorKind" class="form-control" asp-items="Html.GetEnumSelectList<IntegratorKinds>()"></select>
                <span asp-validation-for="IntegratorKind" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="URLData" class="control-label"></label>
                <input asp-for="URLData" class="form-control" />
                <span asp-validation-for="URLData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AuthorizationData" class="control-label"></label>
                <input asp-for="AuthorizationData" class="form-control" />
                <span asp-validation-for="AuthorizationData" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectID="@Model.Project.ProjectID">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
