﻿@model Sherlock.Data.Models.Tag

@{ ViewData["Title"] = "Create"; }

<h1>Create</h1>
@Html.ValidationSummary()
<h4>Tag</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" for="projectID" name="projectID" value="@ViewData["projectID"]" />
                <label for="projectID" class="control-label">Project:</label>
                @ViewData["ProjectName"]
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectID="@ViewData["projectID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
