﻿@model PaginatedList<Sherlock.Data.Models.Tag>

@{ ViewData["Title"] = "Tags for " + ViewData["ProjectName"]; }

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" asp-route-projectID="@ViewData["projectID"]">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Name of tag:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        <a asp-action="Edit" asp-route-id="@item.TagID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.TagID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.TagID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>
