﻿@model Sherlock.Data.Models.Story

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Project Story</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label for="projectID" class="control-label">Project:</label>
                <select id="selectProject" for="projectID" name="projectID" class="form-control" asp-items="ViewBag.projectID">
                    <option value="">-- Select Project --</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" asp-route-projectID="@ViewData["projectID"]">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script>
    $("selectProject").prop("selectedIndex", @ViewData["Id"]);
</script>
}
