﻿@model Sherlock.Data.Models.Story

@{ ViewData["Title"] = "Delete"; }

<h1>Delete</h1>
<h3>Are you sure you want to delete this?</h3>

<div>
    <h4>Story</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description.Replace("\n", "<br />"))
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="StoryID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index" asp-route-projectID="@Model.Project.ProjectID">Back to List</a>
    </form>
</div>
