﻿@model Sherlock.Data.Models.Story

@{ ViewData["Title"] = "Details"; }

<h1>Details</h1>

@if (TempData["message"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["message"]
</div>
}

<div>
    <h4>of Project Story</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Project)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.AppName)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.Raw(Model.Description.Replace("\n", "<br />"))
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.TagStories)
        </dt>
        <dd class="col-sm-10">
            @if (Model.TagStories.Count == 0)
            {
                @Html.Raw("No tags")
            }
            else
            {
            @foreach (var tag in Model.TagStories)
                {
                <a asp-action="Tags" asp-route-id="@tag.Tag.TagID">
                    @if (tag.IsPrimary)
                    {
                        <strong>@tag.Tag.Name</strong>
                    } else {
                        @tag.Tag.Name
                    }
                </a>
                @if (!tag.IsPrimary) {
                    <a asp-action="SetPrimaryTag" asp-route-id="@tag.TagStoryID">[Set as primary]</a>
                }
                <a asp-action="DeleteTag" asp-route-id="@tag.TagStoryID" asp-route-storyID="@Model.StoryID">[Delete]</a> <br />
                }
            }
        </dd>
        <dd class="col-sm-10">
            <form asp-action="AddTag">
                <input type="hidden" id="id" name="id" value="@Model.StoryID">
                <label for="tag">New tag</label><br>
                <input type="text" id="tag" name="tag"><br>
                <input type="submit" value="Add tag">
            </form>
        </dd>
        <dt class="col-sm-4">
            @Html.DisplayNameFor(model => model.Comments)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Comments.Count == 0)
            {
@Html.Raw("No comments") }
            else
            {
<table class="table" id="comments">
    <tbody>
        @foreach (var comment in Model.Comments)
        {
<tr>
    <td>
        @comment.Text
        <a asp-action="DeleteComment" asp-route-id="@Model.StoryID" asp-route-commentID="@comment.CommentID">[Delete]</a>
    </td>
</tr>}
    </tbody>
</table>
}
        </dd>
        <dd class="col-sm-10">
            <form asp-action="AddComment">
                <input type="hidden" id="id" name="id" value="@Model.StoryID">
                <label for="text">New comment</label><br>
                <input type="text" id="text" name="text"><br>
                <input type="submit" value="Add comment">
            </form>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.StoryID">Edit</a> |
    <a asp-action="Index" asp-route-projectID="@Model.Project.ProjectID">Back to List</a>
</div>
