﻿@model PaginatedList<Sherlock.Data.Models.Story>

@{
    if (ViewData["projectID"] == null)
        ViewData["Title"] = "Project stories";
    else
        ViewData["Title"] = "Stories for " + ViewData["ProjectName"];
}

<h1>@ViewData["Title"]</h1>

<!--
<p>
    <a asp-action="Create" asp-route-id="@ViewData["projectID"]">Create New</a>
</p>
-->

@if (TempData["message"] != null)
{
<div class="alert alert-danger" role="alert">
    @TempData["message"]
</div>
}

<table class="table">
    <thead>
        <tr>
            @if (ViewData["projectID"] == null)
            {
<th>
    Project:
</th>            }
            <th>
                Name of story:
            </th>
            <th>
                Description of story:
            </th>
            <th>
                Tags:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    @if (ViewData["projectID"] == null)
    {
<td>
    @item.Project.AppName
</td>}
    <td>
        @item.Name
    </td>
    <td>
        @Html.Raw(item.Description.Replace("\n", "<br />"))
    </td>
    <td>
        @if (item.TagStories.Count == 0)
        {
@Html.Raw("No tags") }
else
{
@foreach (var tag in item.TagStories)
    {
            <a asp-action="Tags" asp-route-id="@tag.Tag.TagID">
                @if (tag.IsPrimary)
                {
                    <strong>@tag.Tag.Name</strong>
                } else {
                    @tag.Tag.Name
                }
            </a>
            @if (!tag.IsPrimary) {
                 <a asp-action="SetPrimaryTag" asp-route-id="@tag.TagStoryID" asp-route-projectID="@ViewData["projectID"]">[P]</a>
             }
             <a asp-action="DeleteTag" asp-route-id="@tag.TagStoryID" asp-route-projectID="@ViewData["projectID"]">[D]</a><br />
    }
}
    </td>
    <td>
        <a href="/Stories/Details/@Html.Raw(item.StoryID + "#comments")">Comments (@item.Comments.Count)</a> |
        <a asp-action="Edit" asp-route-id="@item.StoryID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.StoryID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.StoryID">Delete</a>
    </td>
</tr>
}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-projectID="@ViewData["projectID"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>