﻿@model PaginatedList<Sherlock.Data.Models.TagStory>

@{ ViewData["Title"] = "Stories for tag " + ViewData["LabelName"]; }

<h1>@ViewData["Title"]</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                Name of story:
            </th>
            <th>
                Description of story:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Story.Name
                </td>
                <td>
                    @Html.Raw(item.Story.Description.Replace("\n", "<br />"))
                </td>
                <td>
                    <a asp-controller="Stories" asp-action="Details" asp-route-id="@item.Story.StoryID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Tags"
   asp-route-id="@ViewData["Id"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Labels"
   asp-route-id="@ViewData["Id"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>