﻿@model Sherlock.Data.Models.Project

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<h4>All reports for project will be also deleted</h4>
    <div>
        <h4>Project</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppName);
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppKey)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppKey)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Platform)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Platform)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicenceStartDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicenceStartDate)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.LicenceEndDate)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.LicenceEndDate)
            </dd>
        </dl>

        <form asp-action="Delete">
            <input type="hidden" asp-for="ProjectID" />
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <a asp-action="Index">Back to List</a>
        </form>
    </div>
