﻿@model Sherlock.Data.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppName);
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AppKey)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AppKey)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Platform)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Platform)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceStartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenceStartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicenceEndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicenceEndDate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ProjectID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
