﻿@model PaginatedList<Sherlock.Data.Models.Project>

@{ ViewData["Title"] = "Projects"; }

<h1>Projects</h1>

<p>
    <a asp-action="Create">Create new</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Description of project:
            </th>
            <th>
                Licence Start Date:
            </th>
            <th>
                Licence End Date:
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.AppName)<br/>
        <a asp-action="Switch" asp-route-projectID="@item.ProjectID"><strong>[Switch to this project]</strong></a>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LicenceStartDate)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LicenceEndDate)
        <a asp-action="AddMonth" asp-route-id="@item.ProjectID">[Add month]</a>
    </td>
    <td>
        @if (item.Stories.Count > 0)
        {
            <a asp-controller="Stories" asp-action="Index" asp-route-projectID="@item.ProjectID">Stories</a>
        }
        else
        {
            @Html.Raw("No stories")
        }
        |
        <a asp-controller="FAQ" asp-action="Index" asp-route-projectID="@item.ProjectID">FAQ</a> |
        <a asp-controller="Tags" asp-action="Index" asp-route-projectID="@item.ProjectID">Tags</a>
        <br/>
        <a asp-action="Edit" asp-route-id="@item.ProjectID">Edit</a> |
        <a asp-action="Details" asp-route-id="@item.ProjectID">Details</a> |
        <a asp-action="Delete" asp-route-id="@item.ProjectID">Delete</a>
    </td>
</tr>}
    </tbody>
</table>

@{ var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : ""; }

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default @nextDisabled">
    Next
</a>